<div class="container mt-5 d-flex border">
  <%= content_tag(:div, tag.img(src: user.photo, alt: "#{user.name}'s photo", width: '150px'), class: 'card__image') %>
  <div class="card">
    <%= tag.h3(user.name) %>
    <p>Number of posts: <%= tag.span(user.postsCounter) %></p>
  </div>
  <%= link_to '', user_path(user.id), class: 'card__hidden-link' %>
</div>