<%= render 'layouts/alert', flash: flash %>
<%= render 'post_card', post: @post, detailed: true %>
<% if @post.commentsCounter > 0 %>
  <div class="card__box">
    <%= tag.h3('Comments:', class: 'card__title') %>
    <%= render partial: 'comments/comment_card', collection: @post.comments, as: :comment %>
  </div>
<% end %>